--- 
import Batting from '../assets/batting-1.jpg';
import BattingTwo from '../assets/batting-two-1.jpg';
import BattingThree from '../assets/batting-three-1.jpg';
import Pitching from '../assets/pitching-1.jpg';
import PitchingTwo from '../assets/pitching-two-1.jpg';
import PitchingThree from '../assets/pitching-three-1.jpg';

---

<section class="bg-white py-16">
    <div class="max-w-4xl mx-auto px-6">
      <h2 class="text-2xl font-bold mb-4">Photo Gallery</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <img src={Batting.src} alt="Player Action 1" class="rounded-xl object-cover">
        <img src={BattingTwo.src} alt="Player Action 2" class="rounded-xl object-cover">
        <img src={BattingThree.src} alt="Player Action 3" class="rounded-xl object-cover">
        <img src={Pitching.src} alt="Player Action 4" class="rounded-xl object-cover">
        <img src={PitchingTwo.src} alt="Player Action 5" class="rounded-xl object-cover">
        <img src={PitchingThree.src} alt="Player Action 6" class="rounded-xl object-cover">
      </div>
    </div>
  </section>